<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813634269297-4q7n4r66geca8coaa29b523d8l1e43ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813634269297-4q7n4r66geca8coaa29b523d8l1e43ci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813634269297-1o2bogh251laqquptf2dpfl1fkpfaorp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7SQPpcWt7DKVcq8jID9-3dOsYLxdupPw</string>
	<key>GCM_SENDER_ID</key>
	<string>813634269297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxiye.client</string>
	<key>PROJECT_ID</key>
	<string>taxiye</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813634269297:ios:2c00e56ea819d80aa6abd0</string>
	<key>DATABASE_URL</key>
	<string>https://taxiye.firebaseio.com</string>
</dict>
</plist>